<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="pure-g-r">
            <div class="pure-u-1-3"></div>
            <div class="pure-u-1-3">
                <div id="header">
                    Rapper Ipsum
                </div>

   <div id="owl-example" class="owl-carousel">
                    <% @rappers.each do |rapper| %>
                    <div>
                        <%= image_tag("rappers/#{rapper.filename}", value: rapper.id) %>
                    </div><% end %>
                </div>
                <%= form_tag do %><%= select(:rapper, :id, Rapper.all.collect {|model| [model.name, model.id]}, :id=>"rapper") %><br>
                <%= number_field_tag("paras", 3, :id=>"paragraphs") %> <%= label_tag(:paras, "Paragraphs") %><br>
                <%= number_field_tag("sentences", 3, :id=>"sentences") %> <%= label_tag(:sentences, "Bars Per Paragraph") %> <% end %> <button id="get-lyrics">get 'em</button>
                <div id="lyrics"></div>
            </div>
            <div class="pure-u-1-3"></div>
            <div class="pure-u-1-3"></div>
            <div class="pure-u-1-3">

            </div>
        </div>

    </body>
</html>