Welcome to rapper ipsum! Click a rapper to get some random barz.


  <%= form_tag do %>
<%= select(:rapper, :id, Rapper.all.collect {|model| [model.name, model.id]}, :id=>"rapper") %>
<br>
<%= label_tag(:paras, "Number of Paragraphs") %>
<%= number_field_tag("paras", nil, :id=>"paragraphs") %>
<br>
<%= label_tag(:sentences, "Sentences Per Paragraph") %>
<%= number_field_tag("sentences", nil, :id=>"sentences") %>


<% end %>

<button id="get-lyrics">get 'em</button>

<div id="lyrics"></div>