<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="pure-g-r">
            <div class="pure-u-1-4"></div>
            <div class="pure-u-1-2">
                <div id="header">
                    <span id="nickname">Rapper</span> Ipsum
                </div>
            </div>
                <div class="pure-u-1-4"></div>


                <div class="pure-u-1-4"></div>

                <div class="pure-u-1-4">
                    <div id="owl-example" class="owl-carousel">
                        <% @rappers.each do |rapper| %>
                            <div class="rapper-headshot">
                                <%= image_tag("rappers/#{rapper.filename}", value: rapper.id) %>
                            </div>
                        <% end %>
                    </div>
                </div>
                <div class="pure-u-1-4">

                <%= form_tag do %><%= select(:rapper, :id, Rapper.all.collect {|model| [model.name, model.id]}, :id=>"rapper") %><br>
                <%= number_field_tag("paras", 3, :id=>"paragraphs") %> <%= label_tag(:paras, "Paragraphs") %><br>
                <%= number_field_tag("sentences", 3, :id=>"sentences") %> <%= label_tag(:sentences, "Bars Per Paragraph") %> <% end %> <button id="get-lyrics">Get Bars</button> <button id="random-two">I'm Feeling Lucky</button>
            </div>
                <div class="pure-u-1-4"></div>
                <div class="pure-u-1-4"></div>
                <div class="pure-u-1-2">

                <div id="lyrics"></div></div>
                <div class="pure-u-1-4"></div>

            </div>
        </div>
    </body>
</html>