<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="pure-g-r">
            <div class="pure-u-1-4"></div>
            <div class="pure-u-1-2">
                <div id="header">
                    <span id="nickname">Rapper</span> Ipsum
                </div>
            </div>
            <div class="pure-u-1-4"></div>
            <div class="pure-u-1-4"></div>
            <div class="pure-u-1-4">
                <div id="headshot-box"></div>
            </div>
            <div class="pure-u-1-4" id="controls">
                <%= form_tag do %><%= select(:rapper, :id, Rapper.all.collect {|model| [model.name, model.id]}, :id=>"rapper") %><% end %><br>
                <%= form_tag do %> <%= number_field_tag("paras", 1, :id=>"paragraphs") %><br>
                <%= label_tag(:paras, "Verses") %><br>
                <%= number_field_tag("sentences", 8, :id=>"sentences") %><br>
                <%= label_tag(:sentences, "Bars Per Verse") %> <% end %>
                <div id="buttons">
                    <button id="get-lyrics">Get Bars</button> <button id="random-two">I'm Feeling Lucky</button>
                </div>
            </div>
            <div class="pure-u-1-4"></div>
            <div class="pure-u-1-4"></div>
            <div class="pure-u-1-2">
                <div id="lyrics"></div>
            </div>
            <div class="pure-u-1-4"></div>
            <div id="hidden-rappers">
                <% @rappers.each do |rapper| %>
                <div class="rapper-wrapper" id="<%= rapper.id %>">
                    <%= image_tag("rappers/#{rapper.filename}", value: rapper.filename, :class=>"rapper-headshot") %>
                </div><% end %>
            </div>
        </div>
    </body>
</html>