<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="pure-g-r">
            <div class="pure-u-1-4"></div>
            <div class="pure-u-1-2">
                <div id="header">
                    <span id="nickname">Rapper</span> Ipsum
                </div>
            </div>
            <div class="pure-u-1-4"></div>
            <div class="pure-u-1-4">


            </div>
            <div class="pure-u-1-4">



                <div id="owl-example" class="owl-carousel">
                    <% @rappers.each do |rapper| %>
                        <%= image_tag("rappers/#{rapper.filename}", value: rapper.id, :class=>"rapper-headshot") %>
                    <% end %>
                </div>

            </div>
            <div class="pure-u-1-4" id="controls">

  <%= form_tag do %><%= select(:rapper, :id, Rapper.all.collect {|model| [model.name, model.id]}, :id=>"rapper") %>
                <% end %>
                <br>
                <%= form_tag do %>

                <%= number_field_tag("paras", 1, :id=>"paragraphs") %><br> <%= label_tag(:paras, "Paragraphs") %><br>
                <%= number_field_tag("sentences", 8, :id=>"sentences") %><br> <%= label_tag(:sentences, "Bars Per Paragraph") %> <% end %> <div id="buttons"><button id="get-lyrics">Get Bars</button> <button id="random-two">Randomize Rapper</button></div>
            </div>
            <div class="pure-u-1-4"></div>
            <div class="pure-u-1-4"></div>
            <div class="pure-u-1-2">
                <div id="lyrics"></div>
            </div>
            <div class="pure-u-1-4"></div>
        </div>
    </body>
</html>